/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --light-pink: #f1b2ce;
  --dark-pink: #ff0070;
  --opacity-pink: #ff007066;
  --purple: #db00ff;
  --black: #000028;

  --text-color: var(--light-pink);
  --accent-color: var(--dark-pink);
  --text-bkg: var(--dark-pink);
  --opacity-accent: var(--opacity-pink);
  --heading-color: var(--black);
  --title-color: var(--purple);
  --background-image: url(../images/cover-image-dark.png);

  --border: 1px solid var(--accent-color);
  --opacity-border: 1px solid var(--opacity-accent);
}
